/* Chat Container: Adjusted to account for the fixed navbar */

.chat-container {
  flex-direction: column;
    width: 100%;
    height: calc(100% - 48px); /* Full viewport height minus navbar height */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
  
  }
  
  /* Chat Window: Contains messages and input */
  .chat-window {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(20, 20, 20);
    padding: 0px;

  }
  
  /* Chat Messages: Scrollable area */
  .chat-messages {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0px;
  }
  
  /* Individual Messages */
  .message {
    max-width: 80%;
    padding: 10px 15px;
    font-size: 16px;
    line-height: 1.4;
    display: flex; /* Use Flexbox for horizontal alignment */
    align-items: center; /* Vertically center icon and content */
    gap: 10px; /* Space between icon and text */
  }
  
  .message.user {
    background-color: #007bff;
    border-radius: 10px 10px 0px 10px;
    color: #fff;
    align-self: flex-end;
  }
  
  .message.bot {
    color: white;
    align-self: flex-start;
    text-align: center;
  }
  
  /* Chat Input: Contains text input and send button */
  .chat-input {
    background-color: #f0f0f0;
    border-radius: 20px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .chat-input input {
    flex-grow: 1;
    padding: 10px 15px;
    border: none;
    background-color: transparent;
    font-size: 16px;
    outline: none;
  }
  
  .chat-input input::placeholder {
    color: #aaa;
  }
  
  .chat-input button {
    background-color: #007bff;
    border: none;
    padding: 8px 12px;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .chat-input button:hover {
    background-color: #0057a3;
  }
  
  .bot-icon {
    display: inline-block;
    padding: 4px;
    margin-right: 8px;
  }
  

  /*    src/components/SearchBar   */

  .searchContainer {
    padding: 0.25rem 0.75rem;
  }
  
  .inputWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 0;
  }
  
  .inputGroup {
    display: flex;
    min-height: 44px;
    align-items: flex-start;
    padding-left: 0.25rem;
  }
  
  .inputContainer {
    min-width: 0;
    max-width: 100%;
    flex: 1;
  }
  
  .searchInput {
    width: 100%;
    background-color: transparent;
    border: 0;
    padding: 0.5rem 0;
    color: var(--token-text-primary);
  }
  
  .searchInput::placeholder {
    color: var(--token-text-tertiary);
  }
  
  .controlsContainer {
    margin-bottom: 0.5rem;
    margin-top: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .buttonGroup {
    display: flex;
    gap: 0.375rem;
    color: var(--token-text-primary);
  }
  
  .iconButton {
    display: flex;
    justify-content: center;
    height: 2.25rem;
    width: 2.25rem;
    border-radius: 9999px;
    border: 1px solid var(--token-border-light);
    color: var(--token-text-secondary);
  }
  
  .iconButton:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  .searchButton {
    height: 2.25rem;
    min-width: 2rem;
    padding: 0.5rem;
    border-radius: 9999px;
    border: 1px solid var(--token-border-light);
  }
  
  .searchButton:hover {
    background-color: var(--token-main-surface-secondary);
  }
  
  .voiceButton {
    height: 2.25rem;
    width: 2.25rem;
    border-radius: 9999px;
    background-color: black;
    color: white;
  }
  
  .voiceButton:hover {
    opacity: 0.7;
  }

  
  
  /* Dark mode styles */
  @media (prefers-color-scheme: dark) {
    .iconButton:hover {
      background-color: rgba(255, 255, 255, 0.05);
    }
    
    .voiceButton {
      background-color: white;
      color: black;
    }
  }

  /* Custom scrollbar for the settings page */
  .settings-container {
    overflow-y: auto;
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #c4c4c4 transparent; /* Thumb and track colors */
  }
  
  .settings-container::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }
  
  .settings-container::-webkit-scrollbar-thumb {
    background-color: #c4c4c4; /* Thumb color */
    border-radius: 4px; /* Rounded corners */
  }
  
  .settings-container::-webkit-scrollbar-thumb:hover {
    background-color: #a0a0a0; /* Thumb color on hover */
  }
  
  .settings-container::-webkit-scrollbar-track {
    background-color: transparent; /* Track color */
  }